# 1.问题

In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv('table.csv');
df.head(3)

  School Class    ID Gender   Address  Height  Weight  Math Physics
0    S_1   C_1  1101      M  street_1     173      63  34.0      A+
1    S_1   C_1  1102      F  street_2     192      73  32.5      B+
2    S_1   C_1  1103      M  street_2     186      82  87.2      B+

sum 求和

In [8]:
df['Weight'].sum()

2613

mean 平均

In [9]:
df['Weight'].mean()

74.65714285714286

In [10]:
df['Weight'].median() #中位数

74.0

In [11]:
df['Weight'].mad() #平均绝对方差

10.733061224489797

In [12]:
df['Weight'].min() #最小值

53

In [13]:
df['Weight'].max() #最大值

100

In [15]:
df['Weight'].abs().head() #绝对值

0    63
1    73
2    82
3    81
4    64
Name: Weight, dtype: int64

In [16]:
df['Weight'].abs().head() #绝对值

0    63
1    73
2    82
3    81
4    64
Name: Weight, dtype: int64

In [35]:
df['Weight'].std() #标准差

12.89537732299916

In [18]:
df['Weight'].var() #方差

166.29075630252098

In [20]:
df['Weight'].quantile([0.25]) #分位数，默认0.5

0.25    63.0
Name: Weight, dtype: float64

In [27]:
df.cummax().head()# 寻找DataFrame或者Series的累计最大值

  School Class    ID Gender   Address  Height  Weight  Math Physics
0    S_1   C_1  1101      M  street_1     173      63  34.0      A+
1    S_1   C_1  1102      M  street_2     192      73  34.0      B+
2    S_1   C_1  1103      M  street_2     192      82  87.2      B+
3    S_1   C_1  1104      M  street_2     192      82  87.2      B-
4    S_1   C_1  1105      M  street_4     192      82  87.2      B-

In [29]:
df.cumsum().head()#累计求和

,School,Class,ID,Gender,Address,Height,Weight,Math,Physics
0,S_1,C_1,1101,M,street_1,173,63,34.0,A+
1,S_1S_1,C_1C_1,2203,MF,street_1street_2,365,136,66.5,A+B+
2,S_1S_1S_1,C_1C_1C_1,3306,MFM,street_1street_2street_2,551,218,153.7,A+B+B+
3,S_1S_1S_1S_1,C_1C_1C_1C_1,4410,MFMF,street_1street_2street_2street_2,718,299,234.1,A+B+B+B-
4,S_1S_1S_1S_1S_1,C_1C_1C_1C_1C_1,5515,MFMFF,street_1street_2street_2street_2street_4,877,363,318.9,A+B+B+B-B+

In [31]:
df['Weight'].cumprod().head() #累计求积

0            63
1          4599
2        377118
3      30546558
4    1954979712
Name: Weight, dtype: int64

# 问题2

df.mean(axis = 1)是按照列水平方向求和，df.mean()按照列求和，第一问提到的函数也有axis参数。

In [4]:
df.mean(axis = 1).head()

0    342.750
1    349.875
2    364.550
3    358.100
4    353.200
dtype: float64

# 2.练习

## 练习1

In [11]:
df1=pd.read_csv('data/Game_of_Thrones_Script.csv')
df1.head()

,Release Date,Season,Episode,Episode Title,Name,Sentence
0,2011/4/17,Season 1,Episode 1,Winter is Coming,waymar royce,What do you expect? They're savages. One lot s...
1,2011/4/17,Season 1,Episode 1,Winter is Coming,will,I've never seen wildlings do a thing like this...
2,2011/4/17,Season 1,Episode 1,Winter is Coming,waymar royce,How close did you get?
3,2011/4/17,Season 1,Episode 1,Winter is Coming,will,Close as any man would.
4,2011/4/17,Season 1,Episode 1,Winter is Coming,gared,We should head back to the wall.

In [15]:
df1['Name'].nunique()

564

(a)总共出现了564个人物

In [18]:
df1['Name'].value_counts().nlargest()

tyrion lannister      1760
jon snow              1133
daenerys targaryen    1048
cersei lannister      1005
jaime lannister        945
Name: Name, dtype: int64

(b)tyrion lannister 说的话最多

(c)不会啊，参考一下答案吧

In [105]:
df1_words = df1.assign(Words=df1['Sentence'].apply(lambda x:len(x.split()))).sort_values(by='Name')
df1_words.head()

,Release Date,Season,Episode,Episode Title,Name,Sentence,Words
276,2011/4/17,Season 1,Episode 1,Winter is Coming,a voice,"It's Maester Luwin, my lord.",5
3012,2011/6/19,Season 1,Episode 10,Fire and Blood,addam marbrand,ls it true about Stannis and Renly?,7
3017,2011/6/19,Season 1,Episode 10,Fire and Blood,addam marbrand,Kevan Lannister,2
13610,2014/6/8,Season 4,Episode 9,The Watchers on the Wall,aemon,And what is it that couldn't wait until mornin...,10
13614,2014/6/8,Season 4,Episode 9,The Watchers on the Wall,aemon,"Oh, no need. I know my way around this library...",48

把Sentence当成序列取出来，用空格进行分割，并计算分割后的长度。将Words这个序列临时加入DataFrame,并按照名字进行排序。

In [109]:
L_count = []
N_words = list(zip(df1_words['Name'],df_words['Words']))
for i in N_words:
    if i == N_words[0]:
        L_count.append(i[1])
        last = i[0]
    else:
        L_count.append(L_count[-1]+i[1] if i[0]==last else i[1])
        last = i[0]
df_words['Count']=L_count
df_words['Name'][df_words['Count'].idxmax()]

'tyrion lannister'

按照答案思路自己实现一次

In [110]:
pairs = list(zip(df1_words['Name'],df_words['Words']))
count_words = []

In [111]:
for i in pairs:
    if i == pairs[0]:
        count_words.append(i[1])
    else:
        count_words.append(count_words[-1]+i[1] if i[0]==last else i[1])
    last = i[0]#保存当前名字

In [112]:
df1_words['Count'] = count_words
idx = df1_words['Count'].idxmax()
idx

1921

In [117]:
df1_words['Name'][idx] #序列根据索引去找对应元素

'tyrion lannister'

# 练习二

In [88]:
df2 = pd.read_csv('data/Kobe_data.csv',index_col='shot_id')

In [89]:
df2

,action_type,combined_shot_type,game_event_id,game_id,lat,loc_x,loc_y,lon,minutes_remaining,period,...,shot_made_flag,shot_type,shot_zone_area,shot_zone_basic,shot_zone_range,team_id,team_name,game_date,matchup,opponent
shot_id,,,,,,,,,,,,,,,,,,,,,
1,Jump Shot,Jump Shot,10,20000012,33.9723,167,72,-118.1028,10,1,...,NaN,2PT Field Goal,Right Side(R),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000/10/31,LAL @ POR,POR
2,Jump Shot,Jump Shot,12,20000012,34.0443,-157,0,-118.4268,10,1,...,0.0,2PT Field Goal,Left Side(L),Mid-Range,8-16 ft.,1610612747,Los Angeles Lakers,2000/10/31,LAL @ POR,POR
3,Jump Shot,Jump Shot,35,20000012,33.9093,-101,135,-118.3708,7,1,...,1.0,2PT Field Goal,Left Side Center(LC),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000/10/31,LAL @ POR,POR
4,Jump Shot,Jump Shot,43,20000012,33.8693,138,175,-118.1318,6,1,...,0.0,2PT Field Goal,Right Side Center(RC),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000/10/31,LAL @ POR,POR
5,Driving Dunk Shot,Dunk,155,20000012,34.0443,0,0,-118.2698,6,2,...,1.0,2PT Field Goal,Center(C),Restricted Area,Less Than 8 ft.,1610612747,Los Angeles Lakers,2000/10/31,LAL @ POR,POR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30693,Jump Shot,Jump Shot,397,49900088,33.9963,1,48,-118.2688,6,4,...,0.0,2PT Field Goal,Center(C),In The Paint (Non-RA),Less Than 8 ft.,1610612747,Los Angeles Lakers,2000/6/19,LAL vs. IND,IND
30694,Tip Shot,Tip Shot,398,49900088,34.0443,0,0,-118.2698,6,4,...,NaN,2PT Field Goal,Center(C),Restricted Area,Less Than 8 ft.,1610612747,Los Angeles Lakers,2000/6/19,LAL vs. IND,IND
30695,Running Jump Shot,Jump Shot,426,49900088,33.8783,-134,166,-118.4038,3,4,...,1.0,2PT Field Goal,Left Side Center(LC),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000/6/19,LAL vs. IND,IND
30696,Jump Shot,Jump Shot,448,49900088,33.7773,31,267,-118.2388,2,4,...,0.0,3PT Field Goal,Center(C),Above the Break 3,24+ ft.,1610612747,Los Angeles Lakers,2000/6/19,LAL vs. IND,IND
30697,Jump Shot,Jump Shot,471,49900088,33.9723,1,72,-118.2688,0,4,...,0.0,2PT Field Goal,Center(C),In The Paint (Non-RA),Less Than 8 ft.,1610612747,Los Angeles Lakers,2000/6/19,LAL vs. IND,IND

In [90]:
pd.Series(list(zip(df2['action_type'],df2['combined_shot_type']))).value_counts().index[0]

('Jump Shot', 'Jump Shot')

(a) 'Jump Shot', 'Jump Shot'最多

In [92]:
df2['opponent'].value_counts().index[0]

'SAS'

[b]SAS最多