# 1.问题

In [7]:
import pandas as pd
import numpy as np
df = pd.read_csv('table.csv');
df.head(3)

  School Class    ID Gender   Address  Height  Weight  Math Physics
0    S_1   C_1  1101      M  street_1     173      63  34.0      A+
1    S_1   C_1  1102      F  street_2     192      73  32.5      B+
2    S_1   C_1  1103      M  street_2     186      82  87.2      B+

sum 求和

In [8]:
df['Weight'].sum()

2613

mean 平均

In [9]:
df['Weight'].mean()

74.65714285714286

In [10]:
df['Weight'].median() #中位数

74.0

In [11]:
df['Weight'].mad() #平均绝对方差

10.733061224489797

In [12]:
df['Weight'].min() #最小值

53

In [13]:
df['Weight'].max() #最大值

100

In [15]:
df['Weight'].abs().head() #绝对值

0    63
1    73
2    82
3    81
4    64
Name: Weight, dtype: int64

In [16]:
df['Weight'].abs().head() #绝对值

0    63
1    73
2    82
3    81
4    64
Name: Weight, dtype: int64

In [35]:
df['Weight'].std() #标准差

12.89537732299916

In [18]:
df['Weight'].var() #方差

166.29075630252098

In [20]:
df['Weight'].quantile([0.25]) #分位数，默认0.5

0.25    63.0
Name: Weight, dtype: float64

In [27]:
df.cummax().head()# 寻找DataFrame或者Series的累计最大值

  School Class    ID Gender   Address  Height  Weight  Math Physics
0    S_1   C_1  1101      M  street_1     173      63  34.0      A+
1    S_1   C_1  1102      M  street_2     192      73  34.0      B+
2    S_1   C_1  1103      M  street_2     192      82  87.2      B+
3    S_1   C_1  1104      M  street_2     192      82  87.2      B-
4    S_1   C_1  1105      M  street_4     192      82  87.2      B-

In [29]:
df.cumsum().head()#累计求和

,School,Class,ID,Gender,Address,Height,Weight,Math,Physics
0,S_1,C_1,1101,M,street_1,173,63,34.0,A+
1,S_1S_1,C_1C_1,2203,MF,street_1street_2,365,136,66.5,A+B+
2,S_1S_1S_1,C_1C_1C_1,3306,MFM,street_1street_2street_2,551,218,153.7,A+B+B+
3,S_1S_1S_1S_1,C_1C_1C_1C_1,4410,MFMF,street_1street_2street_2street_2,718,299,234.1,A+B+B+B-
4,S_1S_1S_1S_1S_1,C_1C_1C_1C_1C_1,5515,MFMFF,street_1street_2street_2street_2street_4,877,363,318.9,A+B+B+B-B+

In [31]:
df['Weight'].cumprod().head() #累计求积

0            63
1          4599
2        377118
3      30546558
4    1954979712
Name: Weight, dtype: int64

# 问题2

df.mean(axis = 1)是按照列水平方向求和，df.mean()按照列求和，第一问提到的函数也有axis参数。

In [41]:
df.mean(axis = 1)

0     342.750
1     349.875
2     364.550
3     358.100
4     353.200
5     388.500
6     383.875
7     368.700
8     365.700
9     375.850
10    390.375
11    405.425
12    405.675
13    413.550
14    405.675
15    610.575
16    593.650
17    593.375
18    608.050
19    597.550
20    633.275
21    635.375
22    630.700
23    625.050
24    637.350
25    652.075
26    648.425
27    664.475
28    661.125
29    653.475
30    675.075
31    674.675
32    670.175
33    678.925
34    674.900
dtype: float64